<div class="wrapper">
  {% extends "base.html" %} {% include "topbar.html" %}
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    {% set menu_list = menu_list %} {% include "sidebar.html" %}
  </main>
  {% block content %}
  <!-- Main content -->
  <div class="content-wrapper">
    <section class="content">
      <!-- Default box -->
      <div class="card card-solid">
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-sm-6">
              <h3 class="d-inline-block d-sm-none"></h3>
              {% for item in image_list %} {% if item.is_primary == 1 %}
              <div class="col-12">
                <img
                  src="data:image/png;base64,{{ item.img_url.decode('utf-8').lstrip('b') }} "
                  class="product-image"
                  style="height: 500px !important;"
                  alt="Product Image"
                />
              </div>
              {% endif %} {% endfor %}

              <div class="col-12 product-image-thumbs">
                {% for item in image_list %} {% if item.is_primary ==0 %}
                <div class="product-image-thumb active">
                  <img
                  src="data:image/png;base64,{{ item.img_url.decode('utf-8').lstrip('b') }} "
                    alt="Product Image"
                  />
                </div>
                {% endif %} {% endfor %}
              </div>
            </div>

            {% for item in pest_list %}
            <div class="col-12 col-sm-6">
              <h3 class="my-3">{{item.common_name }}</h3>
              <p>{{ item.science_name }}</p>

              <hr />
              <div class="row mt-4">
                <nav class="w-100">
                  <div class="nav nav-tabs" id="product-tab" role="tablist">
                    <a
                      class="nav-item nav-link active"
                      id="product-desc-tab"
                      data-toggle="tab"
                      href="#Key"
                      role="tab"
                      aria-controls="product-desc"
                      aria-selected="true"
                      >Key characteristics</a
                    >
                    <a
                      class="nav-item nav-link"
                      id="product-comments-tab"
                      data-toggle="tab"
                      href="#biology"
                      role="tab"
                      aria-controls="product-comments"
                      aria-selected="false"
                      >Biology</a
                    >
                    <a
                      class="nav-item nav-link"
                      id="product-rating-tab"
                      data-toggle="tab"
                      href="#impacts"
                      role="tab"
                      aria-controls="product-rating"
                      aria-selected="false"
                      >Impacts</a
                    >
                    <a
                      class="nav-item nav-link"
                      id="product-control-tab"
                      data-toggle="tab"
                      href="#controls"
                      role="tab"
                      aria-controls="product-desc"
                      aria-selected="true"
                      >Control</a
                    >
                    <a
                      class="nav-item nav-link"
                      id="product-information-tab"
                      data-toggle="tab"
                      href="#information"
                      role="tab"
                      aria-controls="product-comments"
                      aria-selected="false"
                      >Further information</a
                    >
                  </div>
                </nav>
                <div class="tab-content p-3" id="nav-tabContent">
                  <div
                    class="tab-pane fade show active"
                    id="Key"
                    role="tabpanel"
                    aria-labelledby="product-desc-tab"
                  >
                    {{ item.key_char.decode('utf-8') }}
                  </div>
                  <div
                    class="tab-pane fade"
                    id="biology"
                    role="tabpanel"
                    aria-labelledby="product-comments-tab"
                  >
                    {{ item.biology.decode('utf-8') }}
                  </div>
                  <div
                    class="tab-pane fade"
                    id="impacts"
                    role="tabpanel"
                    aria-labelledby="product-rating-tab"
                  >
                    {{ item.impacts.decode('utf-8') }}
                  </div>
                  <div
                    class="tab-pane fade"
                    id="controls"
                    role="tabpanel"
                    aria-labelledby="product-rating-tab"
                  >
                    {{ item.controls.decode('utf-8') }}
                  </div>
                  <div
                    class="tab-pane fade"
                    id="information"
                    role="tabpanel"
                    aria-labelledby="product-rating-tab"
                  >
                    {{ item.information.decode('utf-8') }}
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </section>

    <!-- /.content -->
  </div>

  {% endblock %}
</div>
