<div class="wrapper">
  {% extends "base.html" %} {% include "topbar.html" %}
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    {% set menu_list = menu_list %} {% include "sidebar.html" %}
  </main>
  {% block content %}
  <!-- Main content -->
  <div class="content-wrapper">
    <div class="card card-solid">
      <div class="card-body pb-0">
        <div class="row">
          <div
            class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column"
          >
            {% for item in staff_list %}
            <form id="staff_update" action="/update_staff" method="post">
              <input
                type="text"
                id="user_id"
                hidden
                name="user_id"
                value="{{item.user_id}}"
              />
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control"
                  placeholder="First name"
                  name="first_name"
                  value="{{item.first_name}}"
                />
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-user"></span>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Last name"
                  name="last_name"
                  value="{{item.last_name}}"
                />
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-user"></span>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Phone number"
                  name="phone_number"
                  value="{{item.phone_number}}"
                />
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-user"></span>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Address"
                  name="address"
                  value="{{item.Address}}"
                />
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-user"></span>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3">
                <input
                  type="email"
                  class="form-control"
                  placeholder="Email"
                  name="email"
                  value="{{item.email}}"
                  disabled
                />
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <select
                  class="custom-select form-control-border border-width-2"
                  id="exampleSelectBorderWidth2"
                  name="status"
                >
                  <option value="1">Active</option>
                  <option value="2">In active</option>
                </select>
              </div>
              <div class="row">
                <!-- /.col -->
                <div class="col-4">
                  <button type="submit" class="btn btn-primary btn-block">
                    Update
                  </button>
                </div>
                <!-- /.col -->
              </div>
            </form>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
  
      $(document).ready(function() {
      var successModalValue = "{{ success_modal }}";
      var successModalLabel = "{{ successModalLabel }}";
      var successModalSubLabel = "{{ successModalSubLabel }}";
      if (successModalValue === "True") {
        console.log('Showing modal');
        var modal = $("#successModal");
        modal.find("#successModalLabel").text(successModalLabel);
        modal.find("#successModalSubLabel").text(successModalSubLabel);
        modal.modal("show");
      }
    });
  </script>
  <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content bg-success">
        <div class="modal-header">
          <h5 class="modal-title" id="successModalLabel"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h3 class="modal-title" id="successModalSubLabel"></h3>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  {% endblock %}
</div>
