<div class="wrapper">
  {% extends "base.html" %} {% include "topbar.html" %}
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    {% set menu_list = menu_list %} {% include "sidebar.html" %}
  </main>
  {% block content %}
  <!-- Main content -->
  <div class="content-wrapper">
    <div class="card card-solid">
      <div class="card-body pb-0">
        <div class="row">
          <form action="/update_profile" method="post">
            <div class="input-group mb-3">
              <input
                type="text"
                required
                class="form-control"
                placeholder="First name"
                name="first_name"
                value="{{user_list.first_name}}"
              />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-user"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input
                type="text"
                required
                class="form-control"
                placeholder="Last name"
                name="last_name"
                value="{{user_list.last_name}}"
                
              />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-user"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input
                type="tel"
                required
                class="form-control"
                placeholder="Phone number"
                name="phone_number"
                value="{{user_list.phone_number}}"
              />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-phone"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <textarea
                required
                class="form-control"
                placeholder="Address"
                name="address"
              >{{user_list.Address}}</textarea>
            </div>
            <div class="input-group mb-3">
              <input
                type="email"
                required
                class="form-control"
                placeholder="Email"
                name="username"
                disabled
                value="{{user_list.email}}"
                
              />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input
                type="password"
                class="form-control"
                placeholder="Password"
                name="password"
                id="password"
              />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <p id="password-pattern">
                Password should contain at least: <br /><i
                  class="fa fa-times"
                  aria-hidden="true"
                  id="symbol"
                ></i>
                One symbol (e.g., !, @, #) <br /><i
                  class="fa fa-times"
                  aria-hidden="true"
                  id="uppercase"
                ></i>
                One uppercase letter <br /><i
                  class="fa fa-times"
                  aria-hidden="true"
                  id="lowercase"
                ></i>
                One lowercase letter <br /><i
                  class="fa fa-times"
                  aria-hidden="true"
                  id="numnercase"
                ></i>
                One number <br /><i
                  class="fa fa-times"
                  aria-hidden="true"
                  id="minchar"
                ></i>
                Minimum length of 8 characters
              </p>
            </div>
            <div class="row">
              <!-- /.col -->
              <div class="col-4">
                <button
                  type="submit"
                  class="btn btn-primary btn-block"
                  id="registerButton"
                >
                  Update
                </button>
              </div>
              <!-- /.col -->
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script>
        $(document).ready(function() {
        var successModalValue = "{{ success_modal }}";
        var successModalLabel = "{{ successModalLabel }}";
        var successModalSubLabel = "{{ successModalSubLabel }}";
        if (successModalValue === "True") {
          var modal = $("#successModal");
          modal.find("#successModalLabel").text(successModalLabel);
          modal.find("#successModalSubLabel").text(successModalSubLabel);
          modal.modal("show");
        }
      });

        document
          .getElementById("password")
          .addEventListener("input", function () {
            var password = document.getElementById("password").value;
            var hasUpperCase = /[A-Z]/.test(password);
            var hasLowerCase = /[a-z]/.test(password);
            var hasSymbol = /[!@#$%^&*()_+{}\[\]:;<>,.?~\\/-]/.test(password);
            var hasNumber = /\d/.test(password);
            var isLengthValid = password.length >= 8;
            document.getElementById('symbol').className = hasSymbol ? 'fa fa-check' : 'fa fa-times';
            document.getElementById('uppercase').className = hasUpperCase ? 'fa fa-check' : 'fa fa-times';
            document.getElementById('lowercase').className = hasLowerCase ? 'fa fa-check' : 'fa fa-times';
            document.getElementById('numnercase').className = hasNumber ? 'fa fa-check' : 'fa fa-times';
            document.getElementById('minchar').className = isLengthValid ? 'fa fa-check' : 'fa fa-times';
            var checkCOndition = (hasUpperCase &&  hasLowerCase && hasSymbol && hasNumber && isLengthValid) || !password
            document.getElementById("registerButton").disabled = !checkCOndition;            
            
          })
  </script>
  <!-- Modal for Success Message -->
  <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content bg-success">
        <div class="modal-header">
          <h5 class="modal-title" id="successModalLabel"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h3 class="modal-title" id="successModalSubLabel"></h3>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
